.chwap_top{height: .87rem; overflow: hidden; clear: both; position: relative; margin: 0 .25rem; text-align: center;}
.chwap_top_left{position: absolute; left: 0; top: 0; height: .87rem;}
.chwap_top_left img{width: 1.30rem; height: .87rem;}
.chwap_top_right{position: absolute; right: 0; top: 0; height: .87rem;}
.chwap_top_right img{width: .35rem; height: .35rem; margin-top: .26rem;}
.chwap_top_center img{width: 1.49rem; height: .87rem;}
.swiper-container {width: 100%; height: 2.4rem;}
.swiper-slide {height: 2.4rem; overflow: hidden; clear: both;}
.swiper-slide img{width:100%; height: 2.4rem;}
.chwap_indexmenu{margin: 0 auto; width: 5rem; height: .67rem; overflow: hidden; clear: both;}
.chwap_indexmenu ul li{float: left; _display: inline; height: .67rem; font-size: .24rem; width: .6rem; text-align: center; margin-left: .2rem;}
.chwap_indexmenu ul li a{display: inline-block; height: .64rem; line-height: .65rem;}
.chwap_indexmenu ul li a:link,.chwap_indexmenu ul li a:visited{color: #404040;}
.chwap_indexmenu ul li.on a{border-bottom: .03rem solid #e71f19; font-weight: bold;}
.chwap_indexmenu ul li.on a:link,.chwap_indexmenu ul li.on a:visited{color: #000;}
.chwap_index{height: auto; overflow: hidden; clear: both; margin: 0 .25rem;}
.chwap_index ul li{border-top: 1px solid #e8e8e8; height: auto; padding-bottom: .3rem; overflow: hidden; clear: both; position: relative;}
.chwap_index ul li:nth-child(1){border-top: 0;}
.chwap_index_title{margin-top: .2rem; max-height: .8rem; overflow: hidden; font-size: .28rem; line-height: .4rem; color: #404040;}
.chwap_index_info{height: .27rem; overflow: hidden; margin: .2rem 0 0 0; color: #708096;}
.chwap_index_info .chwap_index_info_tag{height: .24rem; line-height: .24rem; float: left; _display: inline; margin-right: .1rem; border: 0.01rem solid #708096; border-radius: .05rem; padding: 0 .06rem; font-size: .14rem;}
.chwap_index_info span{float: left; _display: inline; margin-right: .17rem; font-size: .18rem; line-height: .27rem;}
.chwap_index ul li .chwap_index_right{float: right; _display: inline; margin-top: .36rem; width: 1.95rem; height: 1.5rem;}
.chwap_index ul li .chwap_index_right img{width: 1.95rem; height: 1.4rem;}
.chwap_index ul li .chwap_index_left{position: absolute; left: 0; right: 2.36rem; top: 0;}
.chwap_index ul li .chwap_index_left .chwap_index_title{height: 1.2rem; max-height: none;}
.chwap_index_img{height: auto; width: 5.94rem; overflow: hidden; clear: both; margin-top: .18rem;}
.chwap_index_img span{width: 1.95rem; height: 1.4rem; float: left; _display: inline; margin-right: .03rem;}
.chwap_index_img span img{width: 1.95rem; height: 1.4rem;}
.chwap_index_load{text-align: center; margin-top: .3rem; padding-bottom: .15rem; height: .3rem; line-height: .3rem; font-size: .16rem; color: #708096;}
.chwap_ejmenu{height: .8rem; padding-right: .25rem; line-height: .8rem; background: #e71f19; overflow: hidden;}
.chwap_ejmenu_cont{position: relative; height: auto; overflow: hidden; margin-left: .25rem;}
.chwap_ejmenu_cont ul li{float: left; _display: inline; margin-right: .35rem; font-size: .28rem;}
.chwap_ejmenu_cont ul li a:link,.chwap_ejmenu_cont ul li a:visited{color: #000;}
.chwap_ejmenu_cont ul li.on a:link,.chwap_ejmenu_cont ul li.on a:visited{color: #fff;}
.chwap_ejmenu_cont ul li.on{font-weight: bold;}
.chwap_sjmenu{height: .68rem; background: #e71f19; position: relative; overflow:hidden; text-align: center;}
.chwap_sjmenu .chwap_sjmenuleft{position: absolute; left: .25rem; top: 0; width: 0.17rem; height: .68rem;}
.chwap_sjmenu .chwap_sjmenuleft img{width: .17rem; height:.29rem; margin-top: .18rem; }
.chwap_sjmenu .chwap_sjmenuright{position: absolute; right: .25rem; top:0;}
.chwap_sjmenu .chwap_sjmenuright img{width: .35rem; height: .35rem; margin-top: .15rem;}
.chwap_sjmenu .chwap_sjmenucenter{text-align: center; font-size: .26rem; color: #fff; height: .68rem; line-height: .68rem;}
.chwap_detail{height:auto; overflow: hidden; margin: .25rem;}
.chwap_detail .chwap_detailtitle{font-size: .28rem; color: #404040; height: auto; overflow: hidden; clear: both;}
.chwap_detail_cont{font-size: .24rem; margin-top: .2rem; color: #404040; line-height: .4rem; height: auto; overflow: hidden; clear: both;}
.chwap_detail_cont p{margin-top: .1rem; text-indent: .5rem;}
.chawap_titxg{height:auto; overflow: hidden; clear: both; margin: .1rem 0 0 .25rem;}
.chawap_titxg img{width: 1.42rem;}
.chwap_tralist{height:auto; overflow: hidden; clear: both; margin-top: .2rem;}
.chwap_tralist .chwap_tralist_left{float: left; _display: inline; width: 80%;}
.chwap_tralist_left span{color: #404040; margin-top: .04rem; padding-left: .2rem; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; height: .3rem; line-height: .3rem; display: block; background: url(../images/icon_square.png) no-repeat left center; background-size: .08rem;}
.chwap_tralist_left span a:link,.chwap_tralist_left span a:visited{color: #404040;}
.chwap_tralist .chwap_tralist_right{float: right; _display: inline; width: .3rem; height: .65rem; text-align: center; border-radius: .05rem; border:1px solid #708096; color: #708096; font-size: .24rem;}
.chwap_trawq{width: .6rem; height: .25rem; margin: .03rem .1rem 0 0; overflow: hidden; border-radius: .05rem; border:1px solid #708096; color: #708096; font-size: .24rem; float: left; line-height: .25rem; text-align: center;}
.chwap_trawq_title{display: block; margin-left: .8rem;}
.chwap_ejbanner{height: auto; overflow: hidden; clear: both;}
.chwap_ejbanner img{width: 100%;}
.chwap_comptitle{color: #404040; font-size: .24rem; height: .32rem; line-height: .32rem; overflow: hidden; margin: .1rem .25rem 0 .25rem;}
.chwap_compmenu{height: auto; margin-top: .18rem; text-align: center; border-bottom: 1px solid #e8e8e8; padding-bottom: .3rem; overflow: hidden; clear: both; font-size: .24rem; font-weight: bold;}
.chwap_compmenu span{display: inline-block; margin: 0 .18rem;}
.chwap_compmenu span a:link,.chwap_compmenu span a:visited{color: #000;}
.chwap_wqhg{height: auto; padding-bottom: .3rem; overflow: hidden; clear: both; margin-top: .3rem; text-align: center; font-size: .28rem; color: #000; font-weight: bold;}
.chwap_wqhg ul li{height: auto; overflow: hidden; clear: both; margin: .3rem .25rem 0 .25rem;}
.chwap_wqhg ul li img{width:100%;}
.chawap_sohot{height: auto; overflow: hidden; clear: both; margin: .25rem;}
.chawap_sohot .chawap_sohot_title{font-size: .28rem; color:#404040; font-weight: bold;}
.chawap_sohot .chawap_sohot_cont{height: auto; overflow: hidden; clear: both;}
.chawap_sohot .chawap_sohot_cont ul li{float: left; _display: inline; margin: .2rem .3rem 0 0; height: .5rem; line-height: .5rem; padding: 0 .25rem; background: #eeeeee; border-radius: .25rem; font-size: .24rem; color: #9d9d9d;}
.chawap_sohot .chawap_sohot_cont ul li a:link,.chawap_sohot .chawap_sohot_cont ul li a:visited{color: #9d9d9d; display: block;}
.chawap_so{height: .52rem; overflow: hidden; clear: both; margin: .3rem .25rem 0;}
.chawap_soleft{float: left; display: inline; width: 4.5rem; padding-left: .6rem; padding-right: .2rem; border-radius: .25rem;  height: .52rem; float: left; background: #e8e8e8 url(../images/icon_so.png) .15rem center no-repeat; background-size: .35rem; }
.chawap_soleft input{background: none; font-size: .24rem; border: 0; width: 100%; height: .52rem; line-height: .52rem;}
.chawap_soright{float: left; font-size: .26rem; color: #404040; margin-left: .05rem; line-height: .52rem;}
